<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<link rel="shortcut icon" href="images/favicon.gif" />
<link rel="stylesheet" type="text/css" href="css/default.css" />


</head>

<body>
<!--Header Begin-->
<div id="header">
	<div class="center">
	<div id="logo"><a href="#">BNTech</a></div>
		<!--Menu Begin-->
		<div id="menu">
		<ul>
		<li><a class="active" href="index.html"><span>Home</span></a></li>
		<li><a href="default2.html"><span>About</span></a></li>
		<li><a href="#"><span>Services</span></a></li>
		<li><a href="#"><span>Contact</span></a></li>
		</ul>
		</div>
		<!--Menu END-->
	</div>
</div>
<!--Header END-->

<!--Toprow Begin-->
<div id="toprow">
	<div class="center">
		test
	</div>
</div>
<!--Toprow END-->

<!--MiddleRow Begin-->
<div id="midrow">
	
</div>
<!--MiddleRow END-->

<!--BottomRow Begin-->
<div id="bottomrow">
		
</div>


<!--BottomRow END-->

<!--Footer Begin-->
<div id="footer">
<div class="foot">
<span><a href="/admin">&copy;</a> 2010 BN Technology Group</span>
</div>
</div>
<!--Footer END-->

</body>
</html>
